.env
todo.txt
notes.txt
__pycache__/
*.pyc
*.pyo
venv/
.venv
git_notes.txt
.DS_STORE
static/.DS_STORE

/chopped_uploads/
/compressed_uploads/
/chopped_streams/
/uploads/
/cmpr_uploads
/clips/
/uploads-backup/
/__pycache__/clipper.cpython-314.pyc/
data.json