.env
todo.txt
notes.txt
error_logs.txt
*.pyc
*.pyo
venv/
.venv
git_notes.txt
.idea
.DS_STORE
static/.DS_STORE
/__pycache__/

/uploads/
/json/
/clips/
/zips/

.mkv
.mp4
.webm
.mov

.mp3
.wav
.m4a