#form_div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin: 20px;
}

#upload_div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#args_div {
  position: fixed;
  top: 120px;
  right: 25px;
  width: 400px;
  display: flex;
  flex-direction: column;
  border: 6px solid greenyellow;
  padding: 10px;
  background: #2c10bc;
  border-radius: 20px;
}

.radio_option {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radio_option input{
  margin: 0;
}

#upload_button {
  background-color: rgb(0, 255, 38);
  padding: 5px 10px;
  height: 50px;
  width: 180px;
  border-radius: 24px;
  border: solid gold 2px;
  color: white;
}

input[type=file] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}


