{% extends "template.html" %}

{% block title %}About - Chopped{% endblock %}

{% block content %}

    <!--Intro Section-->
<div class="main">  
    <div class="main__container">
        <div class="main__content">
        <h1>Welcome to Chopped</h1>
        <h2>Unleash the Power of your team</h2>
        <p>Your one-stop solution for all your replay needs. Explore our cutting-edge tools and services designed to empower your creativity and productivity.</p>
        <button class="main__btn"><a href="{{ url_for('upload') }}">Get Started</a></button>
     </div>
        <div class="main__image">
            <img src="static\images\pic1.svg" alt="main Image" id="main__img">
        </div>
    </div>
</div>  

<!-- Services section --> 
<div class="services"> 
    <h1>See What the Hype is About</h1>
    <div class="services__container">
        <div class="services__card">
            <h2>Voice recognition clip capturing</h2>
            <p>Automatically cut up games, and get to the important clips in no time</p>
            <button><a href="{{ url_for('upload') }}">Get Started</a></button>
        </div>
        <div class="services__card">
            <h2>Easy to use interface</h2>
            <p>Our intuitive interface makes it simple to navigate and use all of our features without any technical knowledge.</p>
            <button><a href="{{ url_for('upload') }}">Get Started</a></button>
        </div>
    </div>
</div>

<!-- Footer Section --> 
<div class="footer__container">
    <div class="footer__links">
        <div class="footer__link--wrapper">
            <div class="footer__link--items">
                <h2>Chopped</h2>
                <a href="/explain">How It Works</a>
                <a href="/about">About Us</a>
                <a href="/team">Meet the Team</a>
            </div>
            <div class="footer__link--items">
                <h2>Contact Us</h2>
                <a href="/">Contact</a>
            </div>
        </div>
    </div>
</div>

<!-- copyright section -->
<div class="footer__container">
     <a href="/" id="footer__logo"><i class="fas fa-gem"> </i>Chopped</a>
     <p class="website__rights">Chopped© 2026</p> 
</div>
{% endblock %} 

 