<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chopped</title>
    <link rel="stylesheet" href="static/css/template.css">

  </head>

<body>
  {% extends "template.html" %}
  {% block content %}

  
<!--How it works intro--> 
<div class="main">  
  <div class="main__container">
      <div class="main__content">
      <h1>How it Works</h1>
      <h2>Unleash the Power of your team</h2>
      <p>Your one-stop solution for all your replay needs. Explore our cutting-edge tools and services designed to empower your creativity and productivity.</p>
      <button class="main__btn"><a href="signup">Get Started</a></button>
  </div>
      <div class="main__image">
          <img src="static\images\ControlPanel.svg" alt="Main Image" id="main__img">
      </div>
  </div>
</div>
 {% endblock %} 
</body>
