{% extends "template.html" %}

{% block title %}Home - Chopped{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}

   <!--Intro Section-->
<div class="home">  
    <div class="home__container">
        <div class="home__content">
        <h1>Welcome to Chopped</h1>
        <h2>Upload your first clip!</h2>
        <button class="home__btn"><a href="{{ url_for('upload') }}">Get Started</a></button>
     </div>
        <div class="home__image">
            <img src="static\images\BaseballPlayer.svg" alt="Baseball Player" id="home__img">
        </div>
    </div>
</div> 


<!-- Footer Section --> 

<div class="footer__container">
    <div class="footer__links">
        <div class="footer__link--wrapper">
            <div class="footer__link--items">
                <h2>Chopped</h2>
                <a href="/explain">How It Works</a>
                <a href="/about">About Us</a>
                <a href="/team">Meet the Team</a>
            </div>
            <div class="footer__link--items">
                <h2>Contact Us</h2>
                <a href="/">Contact</a>
            </div>
        </div>
    </div>
</div>

<!-- copyright section -->
<div class="footer__container">
     <a href="/" id="footer__logo"><i class="fas fa-gem"> </i>Chopped</a>
     <p class="website__rights">Chopped© 2026</p> 
</div>

{% endblock %}

