{% extends "template.html" %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div id="header_div">
  <h1> Upload your Video (and Audio) Files </h1>
  <br>
  <h2>Max File Size: {{ file_size }} {{ base }}</h2>
  </div>

<form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data">
    <div id="form_div">

        <div id="upload_div">
            <p>Acceptable VIDEO FORMATS: .mp4, .mov, .webm, .mkv</p>
            <input type="file" name="video_upload_file" accept=".mp4,.mov,.webm,.mkv" placeholder="Upload video file">
          
            <div class="audio-box">
                <label class="audio-checkbox">
                    <input type="checkbox" id="include_audio" name="include_audio">
                    <h3>Includes Audio File</h3>
                </label>

                <div class="audio-input">
                    <p>Acceptable AUDIO FORMATS: .mp3, .wav, .m4a</p>
                    <input type="file" name="audio_upload_file" accept=".mp3,.wav,.m4a">
                </div>
            </div>

            <div class="submit-container">
                <button type="submit" class="submit-btn">
                    UPLOAD VIDEO
                </button>
            </div>
        </div> 

        <div id="args_div">
            <h2 style="color: white;">Select Upload Style</h2>
            
            <div class="option-box">
                <div class="option-text">
                    <h4>Encoding Method</h4>
                    <h6>Fast (GPU) vs. Efficient (CPU)</h6>
                    <p style="font-size: 10px; color: #666; margin: 5px 0 0 0;">
                        NOTE: Small files may not work well with Hardware Encoding.
                    </p>
                </div>
                
                <div class="option-checkbox radio-group">
                    <label class="radio-item">
                        <input type="radio" name="hardware_encode" value="none" id="none" checked>
                        <span>None</span>
                    </label>
                    
                    <label class="radio-item">
                        <input type="radio" name="hardware_encode" value="cpu" id="cpu">
                        <span>CPU (Slower)</span>
                    </label>
                    
                    <label class="radio-item">
                        <input type="radio" name="hardware_encode" value="gpu" id="gpu">
                        <span>GPU (Faster)</span>
                    </label>
                </div>
            </div>
        </div> 

    </div> 
</form>

{% endblock %}
